.headerWrapper{
    height: 64px;
    box-shadow: 0 2px 8px #8c8c8c;
    background-color: white;
}

.header{
    margin:0 auto;
    max-width: 1200px;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo items info";
}

.menuItems{
    margin-left: 100px;
    line-height: 64px;
    grid-area:items;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 100px);
}

.menuItem{
    cursor: pointer;
    width:100px;
    text-align: center;
    color:#757575;
    font-size:18px;
}

.menuItem:hover{
    background-color: #01BAEF;
    color: white;
}

.menuItemSelected{
    color: #01BAEF;
}

.headerRight{
    grid-area: info;
    justify-self:right;
}

.userInfo{
    display: inline-block;
    margin-right: 10px;
}

.userInfo span{
    line-height: 64px;
}

.setting{
    display: inline-block;
    line-height: 64px;
    cursor:pointer;
}

.logo{
    line-height: 64px;
    grid-area: logo;
}

.logo img{
    height:30px;
}