.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
}

.header{
  display: flex;
  > .count{
    margin:auto;
  }

  & .btns{
    & a:nth-child(1){
      color: green;
    }
    & a:nth-child(2){
      color: red;
      margin-left: 20px;
    }
    & a:nth-child(3){
      margin-left: 30px;
    }
    & a:nth-child(4){
      margin-left: 30px;
    }
  }
}

.fill{
    border-width: 0px 0px 1px 0px !important;
    border-radius: 0px !important;
    width: 100px !important;
    padding: 0px 5px !important;
    height:20px !important;
}
.fill[type="text"]:hover{
  border-width:0px 0px 1px 0px !important;
  box-shadow:unset !important;
  webkit-box-shadow:unset !important;
}
.fill[type="text"]:focus{
  border-width:0px 0px 1px 0px !important;
  box-shadow:unset !important;
  webkit-box-shadow:unset !important;
  border-right-width:0px !important;
}

.r_normal{
  transform-origin: top left;
  transform:scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}
.w_normal{
  transform-origin: top right;
  transform:scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}

.wrong{
  transform-origin: top right;
  transform:scale(0.01);
  transition-property: transform;
  transition-duration: 0.3s;
}
.right{
  transform-origin: top left;
  transform:scale(0.01);
  transition-property: transform;
  transition-duration: 0.3s;
}


.wwrapper{
  width: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  overflow-y: hidden;
}

.word{
  margin-top: 20px;
  background-color: white;
  padding: 10px 20px;

  & .pronounce{
    font-family: Lucida Sans Unicode;
  }
  & .meaning{
    white-space: pre-line;
  }
  & .wordSpell {
    font-size: 2.5em;
    font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif;
  }
}

.sts{
  margin-top: 20px;
  background-color: white;
  padding: 10px 20px;
  overflow-y: scroll;
}