.wrapper{
  text-align: left;
  background-color: #f0f2f5;
  width:100%;
  height: 100%;
}

.header{
  display: flex;
  > .count{
    margin:auto;
  }

  >.test{

  }
}

.fill{
    border-width: 0px 0px 1px 0px !important;
    border-radius: 0px !important;
    width: 100px !important;
    padding: 0px 5px !important;
    height:20px !important;
}
.fill[type="text"]:hover{
  border-width:0px 0px 1px 0px !important;
  box-shadow:unset !important;
  webkit-box-shadow:unset !important;
}
.fill[type="text"]:focus{
  border-width:0px 0px 1px 0px !important;
  box-shadow:unset !important;
  webkit-box-shadow:unset !important;
  border-right-width:0px !important;
}

.r_normal{
  transform-origin: top left;
  transform:scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}
.w_normal{
  transform-origin: top right;
  transform:scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
}

.wrong{
  transform-origin: top right;
  transform:scale(0.01);
  transition-property: transform;
  transition-duration: 0.3s;
}
.right{
  transform-origin: top left;
  transform:scale(0.01);
  transition-property: transform;
  transition-duration: 0.3s;
}