.headerWrapper{
    height: 64px;
    box-shadow: 0 2px 8px #f0f1f2;
    background-color: white;
}

.header{
    margin:0 auto;
    max-width: 1200px;
    text-align: left;
}

.userInfo{
    float: right;
}

.userInfo span{
    line-height: 64px;
}

.logo{
    line-height: 64px;
}

.logo img{
    height:30px;
}